.bottom-content h3 {
   text-align: center;
   padding-bottom: 23px;
   font-size: 1.7rem;
}

.lang-content {
   display: flex;
   margin-bottom: 18px;
}

.lang-pic {
   width: 35%;
}

.lang-title {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;

   h3 {
      font-size: 1.5rem;
   }
}