@use "./variables";
@use "./mixins";

.portfolio-sections {
   position: sticky;
   display: grid;
   grid-template-columns: repeat(4, calc(100% / 3));
   @include mixins.section-width;
   margin: 45px auto 20px auto;
   // border: 2px solid yellow;
}

.portfolio-sections span {
   text-align: center;
   font-weight: 700;
   color: variables.$white;
   padding: 15px 15px;
   position: relative;
   display: inline-block;
   cursor: pointer;

   &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px; // adjust distance from text
      height: 3px;
      width: 100%;
      background-image: repeating-linear-gradient(
         to bottom,
         variables.$lilac2,
         variables.$lilac2 2px,
         transparent 1px,
         transparent 3px,
         variables.$lilac2 3px,
         variables.$lilac2 4px
      );
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s ease;
   }

   &:hover::after {
      transform: scaleX(1);
   }
}
