// Colours
$white: #fff;
$black: #111;
$dark-navy-purple1: #19121b;
$dark-navy-purple2: #1d1d22;
$dark-navy-purple3: #3d3044be;
$lilac: #c493dd;
$lilac2: #9e67b4;
$grey: #868585; 
$navy-purple: #5e416ebe;
// $dark-nav:  #16191D;
$purple: #744288;


// Fonts
$main-font: "Poppins", sans-serif;