@use 'variables';
@use 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: variables.$main-font;
   background-color: variables.$dark-navy-purple1;
}

html {
   scroll-behavior: smooth;
}

.feed-section-containers:hover,
.about-main-container:hover,
.projects-main-container:hover {
   border: 3px solid variables.$navy-purple;
   box-shadow: 0 0 7px 4px variables.$lilac;
   cursor: pointer;
}

.about-section,
.projects-section {
   margin: auto;
   max-width: 690px;
   min-width: 630px;
   @include mixins.section-width;
}

.about-main-container,
.projects-main-container {
   margin: 20px 0;
   border-radius: 10px;
   border: 3px solid variables.$dark-navy-purple3;
   display: flex;
   justify-content: center;
}

.about-container,
.projects-container {
   width: 89%;
}